@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">DESC</th>
            <th scope="col">PRICE</th>
            <th scope="col">IMAGE</th>
            <th scope="col">LINK</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @item.id
            @item.name
            @item.description
            @item.price
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.description</td>
                <td>@item.price</td>
                <td>
                    <img src="~/image/@item.image" style="width:200px;height:200px;" />
                </td>
            </tr>
        }
    </tbody>
</table>

